

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  border-color: rgb(58, 58, 58);
  border-width: 5px;
  max-width: 200px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #F05F40;
}
a:hover,
a:focus {
  color: #eb3812;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {
  background-color: #F05F40;
  text-transform: capitalize;
}
.bg-dark {
  background-color: #222222;
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section {
  padding: 100px 0;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}

/* ---- TOP Button Starts Here ---- */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: crosshair;
  background-color: red;
  padding-top: 15px;
}


/* ---- Navbar Style Starts Here ---- */
#swag {
  font-family: 'Rammetto One', cursive;
  text-align: center;
}
.navbar {
  min-height: 50px !important;
}
.navbar-default {
  background-color: rgb(235, 195, 162);
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.login {
  font-size: 14px;
  color: red;
  cursor: pointer;
}
.navbar-brand {
  color: black !important;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
.navbar-brand:hover, 
.navbar-brand:focus {
  color: #eb3812;
}
.navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}
.nav > li > a,
.nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  color: #222222;
}
.nav > li > a:hover,
.nav > li > a:focus:hover {
  color: #F05F40;
}
.nav > li.active > a,
.nav > li.active > a:focus {
  color: #F05F40 !important;
  background-color: transparent;
}
.nav > li.active > a:hover,
.nav > li.active > a:focus:hover {
  background-color: transparent;
}

/* ---- Navbar Media Quiery ---- */

@media (min-width: 768px) {
  .navbar-default {
    background-color: rgb(235, 195, 162);
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-brand:hover, 
  .navbar-brand:focus {
    color: rgb(187, 5, 5);
  }
  .nav > li > a,
  .nav > li > a:focus {
    color: rgb(7, 7, 7);
  }
  .nav > li > a:hover,
  .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar-brand {
    color: #F05F40;
    font-size: 20px;
  }
  .login{
    font-size: 14px;
    color: red;
  }
  .navbar-brand:hover,
  .navbar-brand:focus {
    color: #eb3812;
  }
  .nav > li > a,
  .nav > li > a:focus {
    color: #222222;
  }
  .nav > li > a:hover,
  .nav > li > a:focus:hover {
    color: #F05F40;
  }
}

/* ---- Header Style Starts Here ---- */

header {
  position: relative;
  background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-image: url('../images/header4.jpg');
  background-position: center;
  width: 100%;
}

.header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
  min-height: auto;
  background: rgba(204, 204, 204, 0.6);
}

#header-content-h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  text-align: center;
  color: rgba(0, 0, 0, 0.932);
}

#header-content-hr {
  margin: 30px auto;
}

#header-p {
  font-weight: 900;
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin-bottom: 50px;
  text-align: center;
}

/* ---- Header Media Quiery ---- */

@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 15px 50px;
  }
  .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  #header-content-h1 {
    font-size: 50px;
  }
  #header-content-p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ---- Customer Review Section Starts Here ---- */ 

.section-heading {
  margin-top: 0;
  
}
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}
@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
    
  }
}
.service-box p {
  margin-bottom: 0;
}

/* ---- Portfolio Section Style Here ---- */

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(240, 95, 64, 0.9);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
.call-to-action h2 {
  margin: 0 auto 20px;
}
.text-primary {
  color: #F05F40;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-default {
  color: #222222;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #222222;
  background-color: #f2f2f2;
  border-color: #ededed;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color: white;
}
.btn-default .badge {
  color: white;
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #F05F40;
  border-color: #F05F40;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #ee4b28;
  border-color: #ed431f;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #F05F40;
  border-color: #F05F40;
}
.btn-primary .badge {
  color: #F05F40;
  background-color: white;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-xl {
  padding: 15px 30px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}

/* ---- LOGIN STYLE HERE ---- */

.login_background {
  background-image: url('../images/header4.jpg');
}